@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
    font-family: 'Ginto-Nord';
    src: url('./src/assets/fonts/Ginto-Nord-700.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gg-sans';
    src: url('./src/assets/fonts/gg-sans-400.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}